body{
  height: 100%;
  color: #444;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: Lato,Times New Roman,Helvetica Neue,sans-serif;
}

/*MapContainer*/
.MapContainer{
  text-align: center;
  font-weight: 200;
}
.MapContainer h2{
  font-size: 50px;
  font-weight: 200;
}
.MapContainer p{
  max-width: 70%;
  margin: auto;
  font-size: 20px;
  font-weight: 200;
}
.MapContainer .map{
  margin-top: 30px;
}
